// Variable overrides
//
// If you want to customize your project please add your variables below.

$primary: #00559A;


@media (min-width: 1400px){.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container 
    {
        max-width: 100%!important;
    }
}

@media (min-width: 1200px){.container-xl, .container-lg, .container-md, .container-sm, .container 
    {
        max-width: 100%!important;
    }
}

@media (min-width: 992px){.container-lg, .container-md, .container-sm, .container 
    {
        max-width: 100%!important;
    }   
}

$enable-deprecation-messages: false !default;
